In [1]:
import pandas as pd

In [2]:
word_dict = {
    'Apple': '사과',
    'Bananna': '바나나',
    'Carrot': '당근'
}

frequency_dict = {
    'Apple': 3,
    'Bananna': 5,
    'Carrot': 7
}

importance_dict = {
    'Apple': 3,
    'Bananna': 2,
    'Carrot': 1
}

In [3]:
word = pd.Series(word_dict)
frequency = pd.Series(frequency_dict)
importnace = pd.Series(importance_dict)

summary = pd.DataFrame({
    'word': word, 
    'frequency':frequency, 
    'importance':importnace
})

summary['score'] = summary['frequency']*summary['importance']

summary

        word  frequency  importance  score
Apple     사과          3           3      9
Bananna  바나나          5           2     10
Carrot    당근          7           1      7

### loc()

In [6]:
summary.loc['Bananna':'Carrot', 'importance':]

         importance  score
Bananna           2     10
Carrot            1      7

### iloc()

In [7]:
summary.iloc[1:3, 2:]

         importance  score
Bananna           2     10
Carrot            1      7

In [17]:
summary.loc['Apple', 'importance'] = 5
summary.loc['Elderberry'] = ['엘더베리', 5, 3, 15]
summary

            word  frequency  importance  score
Apple         사과          3           5      9
Bananna      바나나          5           2     10
Carrot        당근          7           1      7
Elderberry  엘더베리          5           3     15

### 시리즈 자료형의 연산

In [19]:
arr1 = pd.Series([1,2,3], index=['A','B','C'])
arr2 = pd.Series([4,5,6], index=['B','C','D'])

arr = arr1.add(arr2, fill_value=0)
arr

A    1.0
B    6.0
C    8.0
D    6.0
dtype: float64

In [20]:
arr = arr1.add(arr2)
arr

A    NaN
B    6.0
C    8.0
D    NaN
dtype: float64

In [24]:
summary = summary.sort_values('frequency', ascending=False)
summary

            word  frequency  importance  score
Carrot        당근          7           1      7
Bananna      바나나          5           2     10
Elderberry  엘더베리          5           3     15
Apple         사과          3           5      9