In [1]:
# !pip install pandas

In [2]:
import pandas as pd
import numpy as np

In [20]:
ser = pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])
ser

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [21]:
ser.loc['b']

2

In [22]:
ser.loc['b':'c']

b    2
c    3
dtype: int64

In [24]:
ser.loc[['a','c','e']]

a    1
c    3
e    5
dtype: int64

In [26]:
ser.iloc[1:3]

b    2
c    3
dtype: int64

In [30]:
ser==2

a    False
b     True
c    False
d    False
e    False
dtype: bool

In [31]:
ser!=2

a     True
b    False
c     True
d     True
e     True
dtype: bool

In [32]:
ser.loc[ser==2]

b    2
dtype: int64

In [35]:
df = pd.DataFrame(
    [[1, 10, 100], [2, 20, 200], [3, 30, 300]],
    index = ['r1', 'r2', 'r3'],
    columns = ['c1', 'c2', 'c3'])
df

    c1  c2   c3
r1   1  10  100
r2   2  20  200
r3   3  30  300

In [43]:
df.loc['r1', 'c1']

1

In [44]:
df['c1']

r1    1
r2    2
r3    3
Name: c1, dtype: int64

In [50]:
df.loc[:, 'c1']

r1    1
r2    2
r3    3
Name: c1, dtype: int64

In [51]:
df.loc['r1']

c1      1
c2     10
c3    100
Name: r1, dtype: int64

In [52]:
df.loc[['r1','r3'],'c2':'c3']

    c2   c3
r1  10  100
r3  30  300

In [54]:
df.iloc[1:3, [0,2]]

    c1   c3
r2   2  200
r3   3  300

In [56]:
df>10

       c1     c2    c3
r1  False  False  True
r2  False   True  True
r3  False   True  True

In [58]:
df.loc[df['c2']>10]

    c1  c2   c3
r2   2  20  200
r3   3  30  300

In [62]:
df.loc[(df['c1']>1) & (df['c3']<300)]

    c1  c2   c3
r2   2  20  200