In [1]:
import os
import pandas as pd

In [12]:
csv = os.path.join('./sample/anime.csv')
df = pd.read_csv(csv, index_col = 'anime_id')
df.head()

,name,genre,type,episodes,rating,members
anime_id,,,,,,
32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [13]:
df.dtypes

name         object
genre        object
type         object
episodes     object
rating      float64
members       int64
dtype: object

In [14]:
df['members'] = df['members'].astype(float)

In [16]:
df.dtypes
df

,name,genre,type,episodes,rating,members
anime_id,,,,,,
32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630.0
5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665.0
28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262.0
9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572.0
9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266.0
...,...,...,...,...,...,...
34471,Youkai Watch Movie 4,"Comedy, Kids, Supernatural",Movie,1,NaN,169.0
34284,Yuuki Yuuna wa Yuusha de Aru: Washio Sumi no Shou,"Drama, Fantasy, Magic, Slice of Life",TV,6,NaN,2593.0
34445,Yuuki Yuuna wa Yuusha de Aru: Yuusha no Shou,"Drama, Fantasy, Magic, Slice of Life",TV,6,NaN,4439.0
33035,Yuyushiki Special,NaN,Special,1,NaN,2294.0
33390,Zunda Horizon,NaN,Movie,1,NaN,160.0

# 날짜 있는 파일

In [30]:
csv = os.path.join('./sample/anime_stock_price.csv')
df = pd.read_csv(csv, parse_dates=['Date'], index_col='Date')
df.head()

            TOEI ANIMATION  IG Port
Date
2015-01-01         3356.86  1201.51
2015-01-02         3356.86  1201.51
2015-01-05         3396.12  1218.44
2015-01-06         3361.77  1201.51
2015-01-07         3297.97  1202.51

In [31]:
df.dtypes

TOEI ANIMATION    float64
IG Port           float64
dtype: object

# 공공 데이터 불러오기

## CSV 

### https://www.data.go.kr/data/15067555/fileData.do

In [37]:
df1 = pd.read_csv('./sample/행정안전부_재난피해 심리상담실적_12_31_2020.csv', encoding='CP949', index_col='구분')
df1.head()

,성별(남),성별(여),연령(19세 이하),연령(20-29세),연령(30-39세),연령(40-49세),연령(50-59세),연령(60세 이상),상담방법(전화),상담방법(대면),재난유형(사회재난),재난유형(자연재난)
구분,,,,,,,,,,,,
서울,226,551,28,39,35,65,94,516,750,27,748,29
부산,205,380,50,20,16,33,49,417,502,83,312,273
대구,315,563,26,160,104,158,201,229,740,121,854,878
인천,193,344,12,12,23,61,59,370,537,0,502,35
광주,343,696,16,43,71,150,198,561,787,214,977,71

In [35]:
df1.dtypes

구분            object
성별(남)          int64
성별(여)          int64
연령(19세 이하)     int64
연령(20-29세)     int64
연령(30-39세)     int64
연령(40-49세)     int64
연령(50-59세)     int64
연령(60세 이상)     int64
상담방법(전화)       int64
상담방법(대면)       int64
재난유형(사회재난)     int64
재난유형(자연재난)     int64
dtype: object

## XLSX

### https://www.daejeon.go.kr/drh/open/drhDataOpen/drhDataOpenBoardArticleView.do?menuSeq=3134&boardSeq=908&articleSeq=1029&pageIndex=&searchCondition=&searchKeyword=

! pip install xlrd

In [101]:
!pip install xlrd

Requirement already satisfied: xlrd in c:\users\021\anaconda3\lib\site-packages (2.0.1)

In [120]:
df_xlsx = pd.read_excel('./sample/2020 건기연bti 교량.xlsx', engine = "openpyxl", header=2)
df_xlsx.drop("Unnamed: 0", axis=1, inplace=True)
df_xlsx

,기준년도,시설구분,시설물번호,확장구분,Unnamed: 5,시설물명,도로유형,노선번호,주소,총길이(m),...,하행차로수,횡단구분,점검년도,점검종류,안전등급,기관구분,소속기관,관리기관,관리구분,비고
0,0,교량,3017,기본,NaN,도마육교,"특별,광역시도",NaN,대전광역시 서구 도마동,19.1,...,3.0,해당없음,20190607,정기점검,B,자치단체,대전,시청,직접관리,NaN
1,0,교량,3363,기본,NaN,신탄진과선교,"특별,광역시도",NaN,대전광역시 대덕구 덕암동,220.0,...,2.0,해당없음,20190615,정기점검,F,자치단체,대전,시청,직접관리,NaN
2,0,교량,27738,기본,NaN,마달교,"특별,광역시도",NaN,대전광역시 동구 삼괴동,90.0,...,3.0,해당없음,20191129,정기점검,B,자치단체,대전,시청,직접관리,NaN
3,0,교량,27740,기본,NaN,삼괴3교,일반국도,일반국도17호선,대전광역시 동구 삼괴동,270.0,...,2.0,해당없음,20190615,정기점검,G,자치단체,대전,시청,이관,NaN
4,0,교량,27741,기본,NaN,두마IC1교,"특별,광역시도",NaN,대전광역시 유성구 방동,45.0,...,2.0,해당없음,20191231,정기점검,B,자치단체,대전,시청,직접관리,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,0,교량,710016,기본,NaN,전민육교,구도,NaN,대전 유성구 전민동 산 3-2,45.2,...,1.0,해당없음,20190628,정기점검,A,자치단체,대전,유성구,직접관리,NaN
305,0,교량,710017,기본,NaN,탑립육교,구도,NaN,대전 유성구 탑립동 621-7,37.0,...,1.0,해당없음,20190628,정기점검,B,자치단체,대전,유성구,직접관리,NaN
306,0,교량,710018,기본,NaN,안산1교,"특별,광역시도",NaN,대전 유성구 안산동 87-2,15.0,...,3.0,해당없음,20191231,정기점검,F,자치단체,대전,시청,직접관리,NaN
307,0,교량,710019,기본,NaN,장전교,"특별,광역시도",NaN,대전 서구 평촌동 947-10,23.0,...,1.0,해당없음,20191224,정기점검,F,자치단체,대전,시청,직접관리,NaN
308,0,교량,710020,기본,NaN,추목천교,"특별,광역시도",NaN,대전 유성구 신성동 501,28.5,...,2.0,해당없음,20191224,정기점검,F,자치단체,대전,시청,직접관리,NaN

## JSON
### http://www.gimhae.go.kr/openapi/tour/festival.do

In [81]:
df_json = pd.read_json('http://www.gimhae.go.kr/openapi/tour/festival.do')
df_json

,record_count,address,name,pageunit,page,results,page_count,status
0,11,,,10,1,"{'idx': 385, 'name': '가야문화축제', 'category': '대표...",2,OK
1,11,,,10,1,"{'idx': 795, 'name': '김해문화재야행', 'category': '대...",2,OK
2,11,,,10,1,"{'idx': 395, 'name': '김해분청도자기축제', 'category': ...",2,OK
3,11,,,10,1,"{'idx': 405, 'name': '김해예술제', 'category': '대표축...",2,OK
4,11,,,10,1,"{'idx': 396, 'name': '김해진영단감축제', 'category': '...",2,OK
5,11,,,10,1,"{'idx': 815, 'name': '수국정원축제', 'category': '마을...",2,OK
6,11,,,10,1,"{'idx': 817, 'name': '여의사랑문화제', 'category': '마...",2,OK
7,11,,,10,1,"{'idx': 820, 'name': '종로난장', 'category': '마을·지...",2,OK
8,11,,,10,1,"{'idx': 818, 'name': '클레아아크김해미술관 뮤지엄 팜파티', 'ca...",2,OK
9,11,,,10,1,"{'idx': 819, 'name': '평생학습과학축제', 'category': '...",2,OK

In [82]:
df_json['results'][0]

{'idx': 385,
 'name': '가야문화축제',
 'category': '대표축제',
 'area': '부원동',
 'copy': '이천년 가야 역사, 찬란한 항해!\r\n',
 'manage': '(사)가야문화축제제전위원회',
 'phone': '055-330-6840',
 'homepage': 'http://www.gcfkorea.com/',
 'content': '○ 개최시기 : 매년 4월\r\n○ 장소 : 김해시 일원 (대성동고분군, 수릉원, 해반천, 가야의 거리 일원)\r\n○ 축제내용 : 공식행사, 민속행사, 축제행사, 체험행사, 설치행사, 부대행사\r\n○ 의미\r\n김해지역의 대표적인 전통문화예술축제 행사인 가야문화축제는 가락국을 건국한 김수로왕의 창국정신을 기리고 우수한 가야문화를 계승 발전시키며 시민의 화합과 단결을 도모하기 위한 축제행사이다.\r\n○ 유래\r\n가야문화축제 연극공연모습 가야문화축제는 서기 42년 김수로왕이 가락국을 건국하여 500여년간 철기문화와 해상교역을 바탕으로 찬란한 문화를 꽃피웠던 옛 조상들이 남긴 문화유산의 얼을 되새기며 이를 통해 김해 시민들에게 긍지와 자부심을 갖게 하고 더 나아가 세계 각 국에 가야문화의 우수성을 널리 알리기 위해 1962년부터 수로왕 춘향대제일(음력 3월 15일)에 맞추어 개최한 가락문화제와 가야문화유산을 유네스코지정 세계문화유산 등재 목표로 2년간 개최해 온 가야세계문화축전을 통합하여 2007년에 새롭게 단장된 축제이다.\r\n○ 소개\r\n김해의 대표적인 전통문화 예술축제. 가락국을 건국한 김수로왕의 건국정신을 기리고 우수한 가야문화를 계승 발전시키며 시민의 화합과 단결을 도모하기 위해 개최된다. 수로왕 춘향대제일(음력 3월 15일)에 맞춰 1962년부터 열린 ‘가락문화제’와 가야문화유산의 유네스코 세계 문화유산 등재를 목표로 2년간 열린 ‘가야세계문화축전’을 통합, 2007년에 새롭게 단장했다. 대성동고분군, 수릉원, 가야의거리, 연지공원, 김해가야테마파크 등에서 열리며 가야의 문화역사를 느낄 수 있는 다양한 체험 프로그램이 마련된다.',
 'fee': '전화문의 또는 홈페이지 참고',
 'address': '경상남도 김해시 가야의길 126 (대성동) 김해시 일원',
 'xposition': '35.23645265260307',
 'yposition': '128.87312453101958',
 'parking': '전화문의 또는 홈페이지 참고',
 'images': ['http://www.gimhae.go.kr/CmsMultiFile/view.do?multifileId=MF00000422&idx=4114',
  'http://www.gimhae.go.kr/CmsMultiFile/view.do?multifileId=MF00000422&idx=4115',
  'http://www.gimhae.go.kr/CmsMultiFile/view.do?multifileId=MF00000422&idx=4116',
  'http://www.gimhae.go.kr/CmsMultiFile/view.do?multifileId=MF00000422&idx=4117',
  'http://www.gimhae.go.kr/CmsMultiFile/view.do?multifileId=MF00000422&idx=4118',
  'http://www.gimhae.go.kr/CmsMultiFile/view.do?multifileId=MF00000422&idx=4119',
  'http://www.gimhae.go.kr/CmsMultiFile/view.do?multifileId=MF00000422&idx=4120',
  'http://www.gimhae.go.kr/CmsMultiFile/view.do?multifileId=MF00000422&idx=4121',
  'http://www.gimhae.go.kr/CmsMultiFile/view.do?multifileId=MF00000422&idx=4122',
  'http://www.gimhae.go.kr/CmsMultiFile/view.do?multifileId=MF00000422&idx=4123'],
 'sdate': '',
 'edate': '',
 'undecided': '매년 4월경',
 'opener': ''}

In [83]:
idx = []
name = []
category = []
area = []
copy = []
manage = []
phone = []
for i in range(len(df_json['results'][:])):
    idx.append(df_json['results'][i]['idx'])
    name.append(df_json['results'][i]['name'])
    category.append(df_json['results'][i]['category'])
    area.append(df_json['results'][i]['area'])
    copy.append(df_json['results'][i]['copy'])
    manage.append(df_json['results'][i]['manage'])
    phone.append(df_json['results'][i]['phone'])

In [84]:
df_json['idx'] = idx
df_json['name'] = name
df_json['category'] = category
df_json['area'] = area
df_json['copy'] = copy
df_json['manage'] = manage
df_json['phone'] = phone

In [88]:
df_json.drop('results', axis=1, inplace=True)
df_json

,record_count,address,name,pageunit,page,page_count,status,idx,category,area,copy,manage,phone
0,11,,가야문화축제,10,1,2,OK,385,대표축제,부원동,"이천년 가야 역사, 찬란한 항해!\r\n",(사)가야문화축제제전위원회,055-330-6840
1,11,,김해문화재야행,10,1,2,OK,795,대표축제,회현동,"제4의 제국, 가야의 숨결을 느끼다",문화재과,055-330-3923
2,11,,김해분청도자기축제,10,1,2,OK,395,대표축제,진례면,흙과 불 그리고 인간 혼의 만남,김해도예협회,055-345-6036
3,11,,김해예술제,10,1,2,OK,405,대표축제,북부동,순수창작예술 작품을 선보인다,예총 김해지부,055-311-7621
4,11,,김해진영단감축제,10,1,2,OK,396,대표축제,진영읍,가을 향기 가득한 김해 진영단감축제,김해 진영단감축제 제전위원회,055-343-2242
5,11,,수국정원축제,10,1,2,OK,815,마을·지역축제,,"수국과 꽃이 만발한 도심 속 힐링마을, 수안마을",수안마을,055-339-7749
6,11,,여의사랑문화제,10,1,2,OK,817,마을·지역축제,,봉황대의 설화 여의낭자와 황세장군의 러브스토리로~!,(주최)여의사랑문화제전위원회,055-330-8322
7,11,,종로난장,10,1,2,OK,820,마을·지역축제,,"경남의 이태원, 김해의 원도심인 동상동에서 펼쳐지는 문화다양성 마을축제",동상동 무지개마을협의회,-
8,11,,클레아아크김해미술관 뮤지엄 팜파티,10,1,2,OK,818,마을·지역축제,진례면,가을이 무르익으면 찾아오는 클레이아크김해미술관의 특별한 이벤트!,클레이아크김해미술관,055-340-7015
9,11,,평생학습과학축제,10,1,2,OK,819,마을·지역축제,,"배우GO, 나누GO, 즐기GO 평생학습과학축제",김해평생학습축제운영위원회,-